@import "node_modules/bootstrap/less/bootstrap.less";
@import "./variables.less";

@padding: .33em;

body {

    background-color: rgb(255,255,255);

}

header {
    background-color: rgb(255, 125, 125);
}

.users {
    margin: 2em 0;
}

.threads {
    background-color: rgb(200, 200, 200);

    .thread {

        padding: @padding;


        &.current {
            background-color: rgb(0,0,0);
            color: rgb(255,255,255);
        }


    }

}

.messages {
    padding: 0;

    .message {
        margin: .25em 0 .25em 0;
        padding: @padding;

        background-color: #CCC;

    }
}